name: Deploy to GitHub Pages

on:
  push:
    branches: 'main'
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: evidence/package-lock.json

      - name: Install dependencies
        working-directory: evidence
        run: npm install

      - name: build
        env:
          BASE_PATH: '/${{ github.event.repository.name }}/evidence'
          ## Add and uncomment any environment variables here
          EVIDENCE_SOURCE__LICHESS_DATA__FILENAME: ${{ secrets.EVIDENCE_SOURCE__LICHESS_DATA__FILENAME }}
        run: |
          npm run sources
          npm run build

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'evidence/build/${{ github.event.repository.name }}'

  deploy:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
